*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
}

nav a {
  display: inline-flex;
  padding: 1rem 2rem;
  background-color: blue;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
}

header {
  height: 10rem;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
}

header img {
  width: 100%;
}
main {
  height: 30rem;
  display: flex;
}

main section:nth-child(1) {
  width: 40%;
  height: 100%;
  background-color: aquamarine;
  padding: 0 2rem;
}

main section:nth-child(1) header {
  background-color: transparent;
  align-items: center;
  justify-content: start;
}
main section:nth-child(2) {
  width: 60%;
  height: 100%;
  padding: 1rem 3rem;
  /* background-color: aquamarine; */
}

main section:nth-child(2) div {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

main section:nth-child(2) div div {
  height: 90%;
  aspect-ratio: 1/1;
  background-color: yellow;
  border: 2px solid black;
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  color: white;
}
